.react-calendar {
  border: none !important;
  font-family: system-ui;
  width: 100%;
}

/* Day cells */
.react-calendar__tile {
  border-radius: 10px;
  height: 70px;
  transition: 0.2s;
}

/* Hover */
.react-calendar__tile:hover {
  background: #f0f0f0;
}

/* Green */
.green {
  background: #2ecc71 !important;
  color: white !important;
}

/* Orange */
.orange {
  background: #f39c12 !important;
  color: white !important;
}

.react-calendar__tile:active {
  transform: scale(0.97);
}

@media (max-width: 600px) {
  .react-calendar__tile {
    height: 55px;
    font-size: 12px;
  }
}